<!-- template that displays individual website entries -->
<template name="website_item">
	<li>
		<h4>
			<a href="{{url}}">{{title}}</a>
		</h4>
		<p>
			{{description}}
		</p>

		<p>
			<a href="{{pathFor route='detailsPage'}}" class="btn btn-sm btn-info view-details">View details</a>
		</p>

		<p class="item-meta clearfix">
			<span class="created pull-left">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				{{date_added}}
			</span>

			<span class="votes pull-right">
				<span class="counter upvote-counter">{{upVotes}}</span>
				<a href="#" class="btn btn-success btn-sm js-upvote">
					<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
				</a>

				<span class="counter downvote-counter">{{downVotes}}</span>
				<a href="#" class="btn btn-danger btn-sm js-downvote">
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
				</a>
			</span>
		</p>
	</li>
</template>